---
// Extend the nav system:
// https://codepen.io/stefanjudis/pen/ByBbNGQ
---

<nav>
    <a href="/">Home</a>
    <a href="/pokedex?page=1">Pokedex</a>
    <a href="/Aboutme?page=1">About me</a>
</nav>

<style>
    nav {
        display: flex;
        justify-content: center;
        gap: 16px;
        padding: 25px;
        position: relative;
        z-index: 10;
    }

     
</style>